{% extends 'catalog/base.html' %}
{% block content %}
{% load my_tags %}
<div class="container">
    <div class="row text-center">
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{object.name}}</h4>
                </div>
                <div class="card-body">
                    <img src="{{ object.picture|mediapath }}" class="card-img-top" />
                    <p class="card-text">Категория: {{ object.category.description }}</p>
                    <p class="card-text">Описание: {{ object.description }}</p>
                    <span class="text-muted">Дата создания: {{ object.date|default:"-" }}</span><br>
                    <span class="text-muted">Дата создания: {{ object.owner|default:"-" }}</span>
                    <p class="card-text">
                        {% for v_item in object.version_set.all %}
                            {% if v_item.status_version %}
                                <span class="text-muted">Версия: {{ v_item.name_version }}(#{{ v_item.num_version }})</span>
                            {% endif %}
                            {% endfor %}
                    </p>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Более 10 складов по всей стране</li>
                        <li>На любой вкус</li>
                        <li>В наличии</li>
                    </ul>
                    <a href="{% url 'order:create' object.pk %}" class="btn btn-outline-success">Оставить заявку</a>
                    <a href="{% url 'catalog:index' %}">Назад к списку товаров</a>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
